{
    "ignore": [
        "node_modules",
        "src/common/lib"
    ],
    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-runtime"
    ]
}